@font-face {
  font-family: "sans-bold";
  src: url(../assets/fonts/DMSans-Bold.ttf); }

@font-face {
  font-family: "sans-medium";
  src: url(../assets/fonts/DMSans-Medium.ttf); }

@font-face {
  font-family: "sans-regular";
  src: url(../assets/fonts/DMSans-Regular.ttf); }

@font-face {
  font-family: "raleway-black";
  src: url(../assets/fonts/Raleway-Black.ttf); }

@font-face {
  font-family: "raleway-bold";
  src: url(../assets/fonts/Raleway-Bold.ttf); }

@font-face {
  font-family: "raleway-extrabold";
  src: url(../assets/fonts/Raleway-ExtraBold.ttf); }

@font-face {
  font-family: "raleway-light";
  src: url(../assets/fonts/Raleway-Light.ttf); }

@font-face {
  font-family: "raleway-regular";
  src: url(../assets/fonts/Raleway-Regular.ttf); }

@font-face {
  font-family: "raleway-semibold";
  src: url(../assets/fonts/Raleway-SemiBold.ttf); }

@font-face {
  font-family: "clash-extralight";
  src: url(../assets/fonts/ClashDisplay-Extralight.otf); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  min-height: 100dvh; }

h1, h2, h3, h4 {
  text-wrap: balance; }

p {
  text-wrap: pretty; }

.container__backgroundImg {
  background-image: linear-gradient(to bottom left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url(../assets/img/image-principal.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.header__otherPages {
  background-color: #242424;
  padding: 1.25rem .625rem;
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  justify-content: space-between;
  align-items: none;
  gap: none; }

.text__wrapperColor {
  color: #ff4500; }

.header {
  padding: 1.25rem .625rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header__text {
    text-decoration: none;
    color: #fffafa;
    font-family: "clash-extralight", sans-serif;
    font-size: 1.7rem;
    letter-spacing: .1875rem; }
  .header__navbar {
    list-style: none;
    gap: 1.875rem;
    text-align: center;
    display: flex;
    align-items: center; }
  .header .navbar__link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-family: "sans-medium", sans-serif;
    color: #fffafa;
    font-size: 1rem;
    padding: .625rem; }
    .header .navbar__link::after {
      content: '';
      position: absolute;
      width: 100%;
      height: .125rem;
      bottom: 0;
      left: 0;
      background-color: #ff4500;
      transform: scaleX(0);
      transition: transform .3s ease-out; }
    .header .navbar__link:hover {
      transform: translateY(-5px); }
    .header .navbar__link:hover::after {
      transform: scaleX(1); }

.mainIndex {
  height: auto;
  display: flex;
  flex-direction: column; }
  .mainIndex__title {
    color: #fffafa;
    font-family: "raleway-black",sans-serif;
    letter-spacing: .1875rem;
    font-size: 7rem;
    margin-left: 1.25rem;
    margin-top: 10rem; }
  .mainIndex__subtitle {
    color: #fffafa;
    font-family: "sans-medium", sans-serif;
    margin-left: 1.25rem;
    margin-bottom: 1rem; }
  .mainIndex__description {
    width: 50%;
    margin-left: 1.25rem;
    color: #fffafa;
    font-family: "sans-medium", sans-serif;
    font-size: .875rem; }

.container__mainIndexLink {
  width: 50%;
  padding: 3.125rem 0;
  display: flex;
  justify-content: center; }
  .container__mainIndexLink .mainIndex__link {
    text-decoration: none;
    font-family: "sans-medium", sans-serif;
    color: #fffafa;
    background-color: #ff4500;
    border-radius: 1.25rem;
    padding: .625rem;
    transition: background-color .3s ease-out; }
    .container__mainIndexLink .mainIndex__link:hover {
      background-color: #fffafa;
      color: #ff4500; }

.experience__1 {
  background-image: linear-gradient(to bottom left, rgba(0, 0, 0, 0.699), rgba(0, 0, 0, 0.267)), url(../assets/img/ExperienciaBariloche.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: auto; }

.experience__2 {
  background-image: linear-gradient(to bottom left, rgba(0, 0, 0, 0.699), rgba(0, 0, 0, 0.267)), url(../assets/img/ExperienciaCataratas.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: auto; }

.experience__3 {
  background-image: linear-gradient(to bottom left, rgba(0, 0, 0, 0.699), rgba(0, 0, 0, 0.267)), url(../assets/img/ExperienciaNorte.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: auto; }

.experience__4 {
  background-image: linear-gradient(to bottom left, rgba(0, 0, 0, 0.699), rgba(0, 0, 0, 0.267)), url(../assets/img/ExperienciaPeritoMoreno.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: auto; }

.experience__flexContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 4.25rem 0; }

.experience__containerItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem; }
  .experience__containerItems .experience__text {
    color: #fffafa;
    font-family: "raleway-bold",sans-serif;
    font-size: 6rem;
    padding: 1.875rem;
    text-align: center; }
  .experience__containerItems .experience__link {
    text-decoration: none;
    font-family: "sans-medium",sans-serif;
    color: #fffafa;
    margin-bottom: 3.125rem;
    background-color: #ff4500;
    padding: .625rem 2.875rem;
    border-radius: 1.25rem;
    transition: background-color .3s; }
    .experience__containerItems .experience__link:hover {
      background-color: #fffafa;
      color: #ff4500; }

/* card paquetes */
.card {
  background-color: #242424;
  border-radius: .625rem;
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: none;
  justify-content: none;
  align-items: center;
  gap: 0.3125rem;
  text-align: center; }
  .card__textPromo {
    color: #ff4500;
    font-size: 4rem;
    font-family: "raleway-extrabold", sans-serif; }
  .card__title {
    font-family: "raleway-extrabold", sans-serif;
    color: #fffafa;
    font-size: 2.5rem; }
  .card__subtitle {
    font-family: "raleway-semibold", sans-serif;
    color: #fffafa; }
  .card__description {
    color: #fffafa;
    font-family: "raleway-regular", sans-serif;
    width: 80%; }
  .card__containeritems {
    width: 100%;
    margin-top: 1.875rem;
    display: flex;
    justify-content: space-around;
    align-items: center; }
  .card__containerIcons {
    display: flex;
    column-gap: 10px; }
  .card__icons {
    width: 1.375rem; }
  .card__availability {
    display: flex;
    align-items: center;
    column-gap: .3125rem; }
  .card__available {
    color: #04be04;
    font-family: "raleway-semibold", sans-serif;
    font-size: .875rem; }
  .card__containerPrice {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: none;
    align-items: center;
    gap: none;
    text-align: center; }
    .card__containerPrice .card__priceText {
      color: #ff4500;
      font-family: "raleway-light";
      font-size: .8125rem; }
    .card__containerPrice .card__price {
      color: #fffafa;
      font-family: "sans-bold";
      font-size: .8125rem; }

.footer {
  background-color: #171717;
  display: flex;
  flex-direction: column;
  flex-wrap: none;
  justify-content: center;
  align-items: center;
  gap: 1.875rem; }
  .footer__title {
    color: #fffafa;
    font-size: 2rem;
    font-family: "sans-medium",sans-serif; }
  .footer__subtitle {
    color: #fffafa;
    text-align: center;
    font-family: "sans-regular",sans-serif; }
  .footer .footer__containerIcons {
    display: flex;
    gap: .625rem; }

.sectionBgCircuitos {
  min-height: 100vh;
  background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../assets/img/castillo-bg.jpg);
  background-size: cover;
  background-position: center; }

.circuitos__contentText {
  width: 50%;
  margin: auto;
  height: auto;
  padding-top: 50px; }
  .circuitos__contentText .circuitos__title {
    font-size: 2.5rem;
    color: #fffafa;
    font-family: "raleway-bold",sans-serif; }
  .circuitos__contentText .img__icon {
    width: 1.125rem; }

.circuitos__grid {
  margin: auto;
  margin-top: 1.25rem;
  width: 50%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "item1 item1 item2" "item3 item4 item4";
  gap: 10px; }
  .circuitos__grid .grid-item1, .circuitos__grid .grid-item2, .circuitos__grid .grid-item3 {
    background-size: cover;
    background-position: center;
    height: 20vh;
    border-radius: .625rem;
    position: relative; }
  .circuitos__grid .grid-item1 {
    grid-area: item1;
    background-image: url(../assets/img/image1.jpg); }
  .circuitos__grid .grid-item2 {
    grid-area: item2;
    background-image: url(../assets/img/experiencia-increible.jpg); }
  .circuitos__grid .grid-item3 {
    grid-area: item3;
    background-image: url(../assets/img/mini&micky.jpg); }
  .circuitos__grid .grid-item-text {
    position: absolute;
    bottom: 0;
    color: #fffafa;
    background-color: #171717a6;
    border-radius: .3125rem;
    font-family: "sans-medium",sans-serif;
    font-size: .6875rem; }
  .circuitos__grid .grid-item4 {
    grid-area: item4;
    background-color: #24242480;
    border: 1px solid #ff4500;
    height: 20vh;
    border-radius: .625rem; }
    .circuitos__grid .grid-item4 .item4__title {
      color: #fffafa;
      font-family: "sans-bold",sans-serif;
      font-size: 1.575rem;
      display: flex;
      justify-content: center; }
    .circuitos__grid .grid-item4 .item__subgrid {
      display: grid;
      grid-template-columns: repeat(2, 50%);
      grid-template-rows: repeat(3, 50%);
      margin-top: 1.25rem;
      width: auto;
      align-items: center; }
    .circuitos__grid .grid-item4 .list__item {
      display: flex;
      align-items: center;
      margin-left: 3.125rem; }
    .circuitos__grid .grid-item4 .item__parrafos {
      color: #fffafa;
      font-size: .7125rem;
      font-family: "sans-regular",sans-serif;
      text-align: center; }
    .circuitos__grid .grid-item4 .check-list {
      width: 1.125rem; }
    .circuitos__grid .grid-item4 .subgrid__link {
      text-align: center;
      text-decoration: none;
      font-size: .8125rem;
      color: #fffafa;
      font-family: "sans-regular",sans-serif;
      transition: all .3s; }
      .circuitos__grid .grid-item4 .subgrid__link:hover {
        text-decoration: underline;
        color: #ff4500; }

.article {
  margin-top: 3.125rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.25rem; }
  .article__title {
    color: #fffafa;
    font-family: "raleway-bold",sans-serif;
    font-size: 2rem; }
  .article__description {
    color: #fffafa;
    font-family: "raleway-regular",sans-serif;
    text-align: center;
    width: 50%; }

.bg__container {
  background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../assets/img/Preguntas-Frecuentes.jpg);
  background-position: center;
  background-size: cover;
  padding-top: 6.25rem; }

.wrapper__bg {
  background-color: rgba(20, 20, 20, 0.644);
  backdrop-filter: blur(9px);
  border-radius: 20px;
  padding-right: 6.125rem; }

.container__questions {
  display: flex;
  flex-direction: column;
  gap: 20px; }

.mi-color-title {
  color: #fffafa;
  font-family: "sans-bold",sans-serif;
  font-size: 20px; }

.mi-color-parrafos {
  color: #b9b9b9;
  font-family: "raleway-bold",sans-serif;
  border-left: 2px solid #ff4500;
  padding-left: .625rem;
  font-size: 1rem; }

.second__title {
  text-align: center; }

.second__subtitle {
  color: #b9b9b9;
  font-family: "raleway-bold",sans-serif;
  text-align: center; }

.bg__input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #ff4500; }
  .bg__input::placeholder {
    color: #cecdcd; }
  .bg__input__select {
    background-color: transparent;
    color: #fffafa; }
  .bg__input__option {
    background-color: #242424; }

.bg__color--page5 {
  background-color: #242424;
  min-height: 100vh;
  margin-top: -48px;
  padding-bottom: 3rem;
  display: flex;
  align-items: center; }

.contact-form {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); }
  .contact-form h3 {
    margin-bottom: 1.25rem;
    color: #ff4500; }
  .contact-form label {
    color: #ccc; }

.contact-form .form-control, .contact-form .btn-primary {
  background-color: transparent;
  border: 1px solid #ff4500;
  color: #fffafa; }

.contact-form .form-control::placeholder {
  color: #888; }

.sectionpage5 {
  width: auto;
  margin-left: 20px; }

.contact-info h5 {
  margin-bottom: 1.5rem;
  color: var(--color-primary);
  font-size: 1.2rem; }

.contact-info ul li {
  margin-bottom: 1rem; }

.contact-info ul li:hover img {
  filter: brightness(0) invert(1); }

.contact__ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50vh;
  border-left: 2px solid #ff4500;
  padding-left: .625rem; }
